<main class=" pb-8">
  <div class="mx-auto max-w-3xl px-4 sm:px-6 lg:max-w-7xl lg:px-8">
    <h1 class="sr-only">Docker Setup Page</h1>
    <p class="sr-only">This page will communicate with your local docker service, download and bootstrap Lethean.</p>
    <!-- Main 3 column grid -->

        <section aria-labelledby="section-1-title">
          <h2 class="sr-only" id="section-1-title">Section title</h2>
          <div class="overflow-hidden rounded-lg bg-white shadow">
            <div class="p-6">
              <!-- Your content -->

              <table class="min-w-full divide-y divide-gray-300">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>State</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-300">
                  <tr *ngFor="let cont of containers">
                    <td class="px-6 py-4 whitespace-nowrap">{{ cont.Names[0] }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">{{ cont.State }}</td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-2 rounded" (click)="startContainer(cont.Id)">
                        Start
                      </button>
                      <button class="bg-orange-500 hover:bg-orange-700 text-white font-bold py-1 px-2 rounded" (click)="stopContainer(cont.Id)">
                        Stop
                      </button>
                      <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded" (click)="deleteContainer(cont.Id)">
                        Delete
                      </button>
                    </td>
              </table>
            </div>
          </div>
        </section>




  </div>
</main>
